.filter {
    height: 43px;
    width: 100%;
    font-size: var(--p-large);
    text-align: center;
    padding: .5rem .8rem;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.active {
    background: var(--primary-color);
    color: white;
    border: none;
}